<div class="container">
  <!-- Reset database button -->
  <div class="row">
    <div class="col mt-2 text-center">
      <button
        mdbBtn
        color="warning"
        class="my-4"
        type="button"
        (click)="resetDatabase()">
        Reset Database
      </button>
    </div>
  </div>

  <!-- TODO info-->
  <div class="row">
    <div class="col mt-2">
      <h6>TODO</h6>
      <ul class="list-group">
        <li class="list-group-item">Add about page text</li>
        <li class="list-group-item">Go through TODOs in modules</li>
        <li class="list-group-item">Update readme -> https://medium.com/better-programming/how-to-deploy-your-angular-9-app-to-heroku-in-minutes-51d171c2f0d</li>
      </ul>
    </div>
  </div>
</div>
