<p>home works!</p>

<h6>TODO</h6>
<ul class="list-group">
  <li class="list-group-item">Add sentence or two at top about project.  More information in the about page</li>
</ul>

<h6>TODO - logged in?</h6>
<ul class="list-group">
  <li class="list-group-item">Add text/green dot that shows if camera is online</li>
  <li class="list-group-item">Show most recent pictures - 3 or 4</li>
</ul>

<h6>TODO - logged out?</h6>
<ul class="list-group">
  <li class="list-group-item">Show Login/Register links</li>
</ul>