<!-- Rasp pi api status -->
<div>
  <h5 class="d-inline">Raspberry Pi API: </h5>
  <span *ngIf="raspPiApiStatus === null" class="blue-text">pending</span>
  <span *ngIf="raspPiApiStatus === 'online'" class="green-text">online</span>
  <span *ngIf="raspPiApiStatus === 'offline'" class="red-text">offline</span>
  <p>The API server allows you to turn the camera on and off</p>
</div>

<!-- Raspi pi camera status -->
<div>
  <h5 class="d-inline">Raspberry Pi Camera: </h5>
  <span *ngIf="raspPiCameraStatus === null" class="blue-text">pending</span>
  <span *ngIf="raspPiCameraStatus === 'online'" class="green-text">online</span>
  <span *ngIf="raspPiCameraStatus === 'offline'" class="red-text">offline</span>
</div>

<!-- Update status's button -->
<div>
  <button
    mdbBtn
    color="info"
    block="true"
    class="my-4"
    type="button"
    (click)="updateStatus()">
    Update Status
  </button>
</div>

<!-- Start camera -->
<div *ngIf="raspPiCameraStatus === 'offline'">
  <button
    mdbBtn
    color="success"
    block="true"
    class="my-4"
    type="button"
    (click)="startCamera()">
    Start Camera
  </button>
</div>

<!-- Stop camera -->
<div *ngIf="raspPiCameraStatus === 'online'">
  <button
    mdbBtn
    color="danger"
    block="true"
    class="my-4"
    type="button"
    (click)="stopCamera()">
    Stop Camera
  </button>
</div>